Repository opencv/opencv_zoo, pull requests merged in 2022-04, with the labels that each got.

#45 Use YuNet of fixed input shape to avoid 'parseShape' error
  benchmark/config/face_detection_yunet.yaml
  models/face_detection_yunet/README.md
  models/face_detection_yunet/demo.py
  models/face_detection_yunet/face_detection_yunet_2021dec-act_int8-wt_int8-quantized.onnx
  models/face_detection_yunet/face_detection_yunet_2021dec.onnx
  models/face_detection_yunet/face_detection_yunet_2022mar-act_int8-wt_int8-quantized.onnx
  models/face_detection_yunet/face_detection_yunet_2022mar.onnx
  tools/quantize/quantize.py
Labels: bug

#47 Bugfix: Incorrect path to face detection model
  models/face_recognition_sface/demo.py
Labels: bug

#46 Add MobileNet v1 & v2
  README.md
  benchmark/config/image_classification_mobilenetv1.yaml
  benchmark/config/image_classification_mobilenetv2.yaml
  models/__init__.py
  models/image_classification_mobilenet/LICENSE
  models/image_classification_mobilenet/README.md
  models/image_classification_mobilenet/demo.py
  models/image_classification_mobilenet/image_classification_mobilenetv1_2022apr-act_int8-wt_int8-quantized.onnx
  models/image_classification_mobilenet/image_classification_mobilenetv1_2022apr.onnx
  models/image_classification_mobilenet/image_classification_mobilenetv2_2022apr-act_int8-wt_int8-quantized.onnx
  models/image_classification_mobilenet/image_classification_mobilenetv2_2022apr.onnx
  models/image_classification_mobilenet/imagenet_labels.txt
  models/image_classification_mobilenet/mobilenet_v1.py
  models/image_classification_mobilenet/mobilenet_v2.py
  tools/quantize/quantize.py
  tools/quantize/transform.py
Labels: add model

#48 Update MobileNet V1 & V2
  README.md
  benchmark/benchmark.py
  benchmark/config/image_classification_mobilenetv1.yaml
  benchmark/config/image_classification_mobilenetv2.yaml
  models/image_classification_mobilenet/LICENSE
  models/image_classification_mobilenet/README.md
  models/image_classification_mobilenet/image_classification_mobilenetv1_2022apr-act_int8-wt_int8-quantized.onnx
  models/image_classification_mobilenet/image_classification_mobilenetv1_2022apr-int8-quantized.onnx
  models/image_classification_mobilenet/image_classification_mobilenetv1_2022apr.onnx
  models/image_classification_mobilenet/image_classification_mobilenetv2_2022apr-act_int8-wt_int8-quantized.onnx
  models/image_classification_mobilenet/image_classification_mobilenetv2_2022apr-int8-quantized.onnx
  models/image_classification_mobilenet/image_classification_mobilenetv2_2022apr.onnx
  models/image_classification_mobilenet/mobilenet_v1.py
  models/image_classification_mobilenet/mobilenet_v2.py
  tools/quantize/README.md
  tools/quantize/inc_configs/mobilenet.yaml
  tools/quantize/quantize.py
  tools/quantize/requirements.txt
Labels: update model
