Repository opencv/opencv_zoo, pull requests merged in 2023-10, with the labels that each got.

#197 Google Summer of Code: Adding RAFT Optical Flow Model using ONNX Format
  models/optical_flow_estimation_raft/BSD-3-LICENSE.txt
  models/optical_flow_estimation_raft/MITLICENSE.txt
  models/optical_flow_estimation_raft/README.md
  models/optical_flow_estimation_raft/demo.py
  models/optical_flow_estimation_raft/example_outputs/result.jpg
  models/optical_flow_estimation_raft/example_outputs/vis.png
  models/optical_flow_estimation_raft/optical_flow_estimation_raft_2023aug.onnx
  models/optical_flow_estimation_raft/raft.py
Labels: GSoC

#212 upload model mistake
  models/object_tracking_vittrack/LICENSE
  models/object_tracking_vittrack/README.md
  models/object_tracking_vittrack/demo.py
  models/object_tracking_vittrack/example_outputs/vittrack_demo.gif
  models/object_tracking_vittrack/object_tracking_vittrack_2023sep.onnx
Labels: update model, GSoC

#213 Remove DaSiamRPN since we have its superseder VitTrack now
  README.md
  benchmark/README.md
  benchmark/color_table.svg
  benchmark/config/object_tracking_dasiamrpn.yaml
  benchmark/table_config.yaml
  models/__init__.py
  models/object_tracking_dasiamrpn/LICENSE
  models/object_tracking_dasiamrpn/README.md
  models/object_tracking_dasiamrpn/dasiamrpn.py
  models/object_tracking_dasiamrpn/demo.py
  models/object_tracking_dasiamrpn/example_outputs/dasiamrpn_demo.gif
  models/object_tracking_dasiamrpn/object_tracking_dasiamrpn_kernel_cls1_2021nov.onnx
  models/object_tracking_dasiamrpn/object_tracking_dasiamrpn_kernel_r1_2021nov.onnx
  models/object_tracking_dasiamrpn/object_tracking_dasiamrpn_model_2021nov.onnx
  tools/quantize/quantize-ort.py
Labels: update model
