Repository opencv/opencv_zoo, pull requests merged in 2023-09, with the labels that each got.

#209 fix model quantization to support timvx backend
  benchmark/README.md
  benchmark/color_table.svg
  models/face_detection_yunet/face_detection_yunet_2023mar_int8.onnx
  models/license_plate_detection_yunet/license_plate_detection_lpd_yunet_2023mar_int8.onnx
  tools/quantize/quantize-ort.py
Labels: bug, benchmark

#210 yolox demo: cast input dtype to float32 for dtype-sensitive backends
  models/object_detection_yolox/demo.py
Labels: bug

#194 add vittrack and result
  .gitattributes
  models/object_tracking_vittrack/README.md
  models/object_tracking_vittrack/demo.py
  models/object_tracking_vittrack/object_tracking_vittrack_2023sep.onnx
Labels: add model, GSoC
