Repository opencv/opencv_zoo, pull requests merged in 2023-03, with the labels that each got.

#142 bump lpd_yunet opset version to 13
  models/license_plate_detection_yunet/license_plate_detection_lpd_yunet_2022may-int8-quantized.onnx
  models/license_plate_detection_yunet/license_plate_detection_lpd_yunet_2022may.onnx
  models/license_plate_detection_yunet/license_plate_detection_lpd_yunet_2023mar-act_int8-wt_int8-quantized.onnx
  models/license_plate_detection_yunet/license_plate_detection_lpd_yunet_2023mar.onnx
  tools/quantize/quantize-inc.py
  tools/quantize/quantize-ort.py
Labels: update model

#143 replace pphumanseg with a simplified one
  models/human_segmentation_pphumanseg/demo.py
  models/human_segmentation_pphumanseg/human_segmentation_pphumanseg_2021oct-act_int8-wt_int8-quantized.onnx
  models/human_segmentation_pphumanseg/human_segmentation_pphumanseg_2021oct.onnx
  models/human_segmentation_pphumanseg/human_segmentation_pphumanseg_2023mar-act_int8-wt_int8-quantized.onnx
  models/human_segmentation_pphumanseg/human_segmentation_pphumanseg_2023mar.onnx
  tools/quantize/quantize-ort.py
Labels: update model

#137 Update benchmark and results for CANN backend
  README.md
  benchmark/benchmark.py
Labels: add hardware, benchmark

#149 Shorten the naming of int8-quantized models
  models/face_detection_yunet/face_detection_yunet_2022mar_int8.onnx
  models/face_recognition_sface/face_recognition_sface_2021dec_int8.onnx
  models/human_segmentation_pphumanseg/human_segmentation_pphumanseg_2023mar_int8.onnx
  models/image_classification_ppresnet/image_classification_ppresnet50_2022jan_int8.onnx
  models/license_plate_detection_yunet/license_plate_detection_lpd_yunet_2023mar_int8.onnx
  models/person_reid_youtureid/person_reid_youtu_2021nov_int8.onnx
  models/text_recognition_crnn/text_recognition_CRNN_CN_2021nov_int8.onnx
  tools/quantize/quantize-ort.py
Labels: quantize

#153 Fix bugs in wechat QRcode
  models/qrcode_wechatqrcode/demo.py
  models/qrcode_wechatqrcode/wechatqrcode.py
Labels: bug
