Repository opencv/opencv_zoo, pull requests merged in 2023-12, with the labels that each got.

#180 update text detection model from DB to PPOCRv3DB
  README.md
  benchmark/README.md
  benchmark/color_table.svg
  benchmark/config/text_detection_ppocr.yaml
  benchmark/table_config.yaml
  models/__init__.py
  models/text_detection_ppocr/CMakeLists.txt
  models/text_detection_ppocr/LICENSE
  models/text_detection_ppocr/README.md
  models/text_detection_ppocr/demo.cpp
  models/text_detection_ppocr/demo.py
  models/text_detection_ppocr/example_outputs/gsoc.jpg
  models/text_detection_ppocr/example_outputs/mask.jpg
  models/text_detection_ppocr/ppocr_det.py
  models/text_detection_ppocr/text_detection_cn_ppocrv3_2023may.onnx
  models/text_detection_ppocr/text_detection_cn_ppocrv3_2023may_int8.onnx
  models/text_detection_ppocr/text_detection_en_ppocrv3_2023may.onnx
  models/text_detection_ppocr/text_detection_en_ppocrv3_2023may_int8.onnx
  tools/quantize/quantize-ort.py
Labels: update model

#221 remove text detection DB
  benchmark/README.md
  benchmark/color_table.svg
  benchmark/config/text_detection_db.yaml
  benchmark/table_config.yaml
  models/__init__.py
  models/text_detection_db/CMakeLists.txt
  models/text_detection_db/LICENSE
  models/text_detection_db/README.md
  models/text_detection_db/db.py
  models/text_detection_db/demo.cpp
  models/text_detection_db/demo.py
  models/text_detection_db/example_outputs/gsoc.jpg
  models/text_detection_db/example_outputs/mask.jpg
  models/text_detection_db/text_detection_DB_IC15_resnet18_2021sep.onnx
  models/text_detection_db/text_detection_DB_TD500_resnet18_2021sep.onnx
  models/text_recognition_crnn/demo.cpp
  models/text_recognition_crnn/demo.py
Labels: update model

#223 add benchmark results on Khadas VIM4
  benchmark/README.md
  benchmark/color_table.svg
  benchmark/table_config.yaml
Labels: add hardware, benchmark

#224 add benchmark results on Jetson Nano Orin
  benchmark/README.md
  benchmark/color_table.svg
  benchmark/table_config.yaml
Labels: add hardware, benchmark

#225 add benchmark results on Atlas 200I DK A2
  benchmark/README.md
  benchmark/color_table.svg
  benchmark/table_config.yaml
Labels: add hardware, benchmark

#222 Bump version 4.9
  README.md
  benchmark/README.md
  benchmark/benchmark.py
  benchmark/color_table.svg
  benchmark/table_config.yaml
  models/face_detection_yunet/CMakeLists.txt
  models/face_detection_yunet/demo.py
  models/face_recognition_sface/demo.py
  models/facial_expression_recognition/demo.py
  models/handpose_estimation_mediapipe/demo.py
  models/human_segmentation_pphumanseg/demo.py
  models/image_classification_mobilenet/CMakeLists.txt
  models/image_classification_mobilenet/demo.py
  models/image_classification_ppresnet/demo.py
  models/license_plate_detection_yunet/demo.py
  models/object_detection_nanodet/demo.py
  models/object_detection_yolox/CMakeLists.txt
  models/object_detection_yolox/demo.py
  models/object_tracking_vittrack/demo.py
  models/optical_flow_estimation_raft/demo.py
  models/palm_detection_mediapipe/demo.py
  models/person_detection_mediapipe/CMakeLists.txt
  models/person_detection_mediapipe/demo.py
  models/person_reid_youtureid/demo.py
  models/pose_estimation_mediapipe/CMakeLists.txt
  models/pose_estimation_mediapipe/demo.py
  models/qrcode_wechatqrcode/demo.py
  models/text_detection_ppocr/CMakeLists.txt
  models/text_detection_ppocr/demo.py
  models/text_recognition_crnn/CMakeLists.txt
  models/text_recognition_crnn/demo.py
  tools/quantize/requirements.txt
Labels: documentation, benchmark, demo

#227 add the first summary report
  benchmark/color_table.svg
  benchmark/table_config.yaml
  reports/2023-4.9.0/assets/benchmark_table_4.9.0.png
  reports/2023-4.9.0/opencv_zoo_report-cn-2023-4.9.0.md
  reports/2023-4.9.0/opencv_zoo_report-en-2023-4.9.0.md
  reports/README.md
Labels: documentation
