Repository opencv/opencv_zoo, pull requests merged in 2023-02, with the labels that each got.

#126 removed extra key in models.crnn dictionary
  tools/eval/eval.py
Labels: bug

#129 Update FER quantized model and fix document
  README.md
  models/facial_expression_recognition/README.md
  models/facial_expression_recognition/demo.py
  models/facial_expression_recognition/facial_expression_recognition_mobilefacenet_2022july-int8-quantized.onnx
  tools/quantize/inc_configs/fer.yaml
Labels: documentation, update model

#128 Update palm detection model from MediaPipe (2023feb)
  README.md
  benchmark/config/palm_detection_mediapipe.yaml
  models/handpose_estimation_mediapipe/demo.py
  models/palm_detection_mediapipe/README.md
  models/palm_detection_mediapipe/demo.py
  models/palm_detection_mediapipe/examples/mppalmdet_demo.gif
  models/palm_detection_mediapipe/mp_palmdet.py
  models/palm_detection_mediapipe/palm_detection_mediapipe_2022may-int8-quantized.onnx
  models/palm_detection_mediapipe/palm_detection_mediapipe_2022may.onnx
  models/palm_detection_mediapipe/palm_detection_mediapipe_2023feb-act_int8-wt_int8-quantized.onnx
  models/palm_detection_mediapipe/palm_detection_mediapipe_2023feb.onnx
  tools/quantize/README.md
  tools/quantize/inc_configs/mp_palmdet.yaml
  tools/quantize/quantize-inc.py
  tools/quantize/quantize-ort.py
  tools/quantize/requirements.txt
Labels: update model

#130 added evaluation script for PPHumanSeg model
  models/human_segmentation_pphumanseg/README.md
  models/human_segmentation_pphumanseg/pphumanseg.py
  tools/eval/README.md
  tools/eval/datasets/__init__.py
  tools/eval/datasets/minisupervisely.py
  tools/eval/eval.py
Labels: evaluation

#134 move setting description outside for loop in evaluation scripts
  tools/eval/datasets/icdar.py
  tools/eval/datasets/iiit5k.py
  tools/eval/datasets/imagenet.py
Labels: evaluation

#133 Update handpose estimation model from MediaPipe (2023feb)
  README.md
  benchmark/config/handpose_estimation_mediapipe.yaml
  models/handpose_estimation_mediapipe/README.md
  models/handpose_estimation_mediapipe/demo.py
  models/handpose_estimation_mediapipe/examples/mphandpose_demo.gif
  models/handpose_estimation_mediapipe/examples/mphandpose_demo.webp
  models/handpose_estimation_mediapipe/handpose_estimation_mediapipe_2022may-int8-quantized.onnx
  models/handpose_estimation_mediapipe/handpose_estimation_mediapipe_2022may.onnx
  models/handpose_estimation_mediapipe/handpose_estimation_mediapipe_2023feb-act_int8-wt_int8-quantized.onnx
  models/handpose_estimation_mediapipe/handpose_estimation_mediapipe_2023feb.onnx
  models/handpose_estimation_mediapipe/mp_handpose.py
  models/palm_detection_mediapipe/README.md
  tools/quantize/README.md
  tools/quantize/quantize-ort.py
  tools/quantize/transform.py
Labels: update model

#138 add Yunet C++ demo
  .gitignore
  models/face_detection_yunet/CMakeLists.txt
  models/face_detection_yunet/README.md
  models/face_detection_yunet/demo.cpp
Labels: feature, demo
