Repository opencv/opencv_zoo, pull requests merged in 2023-08, with the labels that each got.

#179 Person detector from MediaPipe Pose
  models/person_detection_mediapipe/CMakeLists.txt
  models/person_detection_mediapipe/README.md
  models/person_detection_mediapipe/demo.cpp
Labels: demo

#184 update accuracy evaluation scripts
  tools/eval/README.md
  tools/eval/eval.py
Labels: documentation, evaluation

#177 yolox in c++
  models/object_detection_yolox/CMakeLists.txt
  models/object_detection_yolox/README.md
  models/object_detection_yolox/demo.cpp
Labels: demo

#185 Add 'load_label' parameter for image classification models
  models/image_classification_mobilenet/demo.py
  models/image_classification_mobilenet/mobilenet.py
  models/image_classification_ppresnet/demo.py
  models/image_classification_ppresnet/ppresnet.py
  tools/eval/eval.py
Labels: evaluation, demo
