Repository opencv/opencv_zoo, pull requests merged in 2023-01, with the labels that each got.

#90 Re-quantify some models from per_channel mode to per_tensor mode
  README.md
  models/handpose_estimation_mediapipe/README.md
  models/handpose_estimation_mediapipe/handpose_estimation_mediapipe_2022may-int8-quantized.onnx
  models/license_plate_detection_yunet/license_plate_detection_lpd_yunet_2022may-int8-quantized.onnx
  models/palm_detection_mediapipe/README.md
  models/palm_detection_mediapipe/palm_detection_mediapipe_2022may-int8-quantized.onnx
  tools/quantize/inc_configs/lpd_yunet.yaml
  tools/quantize/inc_configs/mp_handpose.yaml
  tools/quantize/inc_configs/mp_palmdet.yaml
Labels: benchmark

#106 Data and benchmarking for the new object detection models
  README.md
  benchmark/config/object_detection_nanodet.yaml
  benchmark/config/object_detection_yolox.yaml
  benchmark/download_data.py
  models/__init__.py
  models/object_detection_nanodet/README.md
  models/object_detection_nanodet/nanodet.py
  models/object_detection_yolox/README.md
Labels: benchmark

#118 Update YuNet note with specification of detectable face sizes
  models/face_detection_yunet/README.md
Labels: documentation, enhancement

#100 Add facial expression recognition
  README.md
  benchmark/config/facial_expression_recognition.yaml
  benchmark/download_data.py
  benchmark/utils/dataloaders/recognition.py
  benchmark/utils/metrics/recognition.py
  models/__init__.py
  models/facial_expression_recognition/README.md
  models/facial_expression_recognition/demo.py
  models/facial_expression_recognition/examples/selfie.jpg
  models/facial_expression_recognition/facial_expression_recognition_mobilefacenet_2022july-int8-quantized.onnx
  models/facial_expression_recognition/facial_expression_recognition_mobilefacenet_2022july.onnx
  models/facial_expression_recognition/facial_fer_model.py
  tools/quantize/inc_configs/fer.yaml
  tools/quantize/quantize-inc.py
Labels: add model

#121 Updated SFace README.md notes
  models/face_recognition_sface/README.md
Labels: documentation

#123 Add model file collector, fix some bugs and add some features
  benchmark/README.md
  benchmark/benchmark.py
  benchmark/config/face_detection_yunet.yaml
  benchmark/config/face_recognition_sface.yaml
  benchmark/config/facial_expression_recognition.yaml
  benchmark/config/handpose_estimation_mediapipe.yaml
  benchmark/config/human_segmentation_pphumanseg.yaml
  benchmark/config/image_classification_mobilenet.yaml
  benchmark/config/image_classification_mobilenetv2.yaml
  benchmark/config/image_classification_ppresnet.yaml
  benchmark/config/license_plate_detection_yunet.yaml
  benchmark/config/object_detection_nanodet.yaml
  benchmark/config/object_detection_yolox.yaml
  benchmark/config/object_tracking_dasiamrpn.yaml
  benchmark/config/palm_detection_mediapipe.yaml
  benchmark/config/person_reid_youtureid.yaml
  benchmark/config/qrcode_wechatqrcode.yaml
  benchmark/config/text_detection_db.yaml
  benchmark/config/text_recognition_crnn.yaml
  benchmark/config/text_recognition_crnn_cn.yaml
  benchmark/download_data.py
  models/__init__.py
  models/image_classification_mobilenet/demo.py
  models/image_classification_mobilenet/mobilenet.py
  models/image_classification_mobilenet/mobilenet_v1.py
  models/image_classification_mobilenet/mobilenet_v2.py
  models/image_classification_ppresnet/demo.py
  models/image_classification_ppresnet/imagenet_labels.txt
  models/image_classification_ppresnet/ppresnet.py
  models/object_tracking_dasiamrpn/dasiamrpn.py
  models/object_tracking_dasiamrpn/demo.py
  models/text_recognition_crnn/charset_36_EN.txt
  models/text_recognition_crnn/charset_3944_CN.txt
  models/text_recognition_crnn/charset_94_CH.txt
  models/text_recognition_crnn/crnn.py
  models/text_recognition_crnn/demo.py
  tools/eval/eval.py
Labels: benchmark, feature
