Repository opencv/opencv_zoo, pull requests merged in 2023-11, with the labels that each got.

#214 benchmark: add vittrack benchmark results
  benchmark/README.md
  benchmark/color_table.svg
  benchmark/config/object_tracking_vittrack.yaml
  benchmark/table_config.yaml
  models/__init__.py
  models/object_tracking_vittrack/README.md
  models/object_tracking_vittrack/demo.py
  models/object_tracking_vittrack/vittrack.py
Labels: benchmark

#186 Pose estimation mp
  models/pose_estimation_mediapipe/CMakeLists.txt
  models/pose_estimation_mediapipe/README.md
  models/pose_estimation_mediapipe/demo.cpp
Labels: demo

#215 fix nontype error
  models/face_detection_yunet/demo.py
  models/face_detection_yunet/yunet.py
Labels: bug
