Repository opencv/opencv_zoo, pull requests merged in 2024-06, with the labels that each got.

#259 C++ Demo SFace Recognizer
  models/face_recognition_sface/CMakeLists.txt
  models/face_recognition_sface/README.md
  models/face_recognition_sface/demo.cpp
Labels: demo

#258 Migrating the EfficientSAM model to the OpenCV model zoo
  README.md
  models/__init__.py
  models/image_segmentation_efficientsam/LICENSE
  models/image_segmentation_efficientsam/README.md
  models/image_segmentation_efficientsam/demo.py
  models/image_segmentation_efficientsam/efficientSAM.py
  models/image_segmentation_efficientsam/example_outputs/example1.png
  models/image_segmentation_efficientsam/example_outputs/example2.png
  models/image_segmentation_efficientsam/example_outputs/sam_present.gif
  models/image_segmentation_efficientsam/image_segmentation_efficientsam_ti_2024may.onnx
Labels: add model

#260 bump opencv version to 4.10.0
  benchmark/README.md
  benchmark/benchmark.py
  models/face_detection_yunet/CMakeLists.txt
  models/face_detection_yunet/demo.py
  models/face_recognition_sface/demo.py
  models/facial_expression_recognition/CMakeLists.txt
  models/facial_expression_recognition/demo.py
  models/handpose_estimation_mediapipe/demo.py
  models/human_segmentation_pphumanseg/CMakeLists.txt
  models/human_segmentation_pphumanseg/demo.py
  models/image_classification_mobilenet/CMakeLists.txt
  models/image_classification_mobilenet/demo.py
  models/image_classification_ppresnet/CMakeLists.txt
  models/image_classification_ppresnet/demo.py
  models/image_segmentation_efficientsam/demo.py
  models/license_plate_detection_yunet/demo.py
  models/object_detection_nanodet/CMakeLists.txt
  models/object_detection_nanodet/demo.py
  models/object_detection_yolox/CMakeLists.txt
  models/object_detection_yolox/demo.py
  models/object_tracking_vittrack/CMakeLists.txt
  models/object_tracking_vittrack/demo.py
  models/optical_flow_estimation_raft/demo.py
  models/palm_detection_mediapipe/demo.py
  models/person_detection_mediapipe/CMakeLists.txt
  models/person_detection_mediapipe/demo.py
  models/person_reid_youtureid/demo.py
  models/pose_estimation_mediapipe/CMakeLists.txt
  models/pose_estimation_mediapipe/demo.py
  models/qrcode_wechatqrcode/demo.py
  models/text_detection_ppocr/CMakeLists.txt
  models/text_detection_ppocr/demo.py
  models/text_recognition_crnn/CMakeLists.txt
  models/text_recognition_crnn/demo.py
  tools/quantize/requirements.txt
Labels: bug, documentation, benchmark, demo
