Repository opencv/opencv_zoo, pull requests merged in 2024-02, with the labels that each got.

#233 C++ Demo - Facial Expression Recognition
  models/facial_expression_recognition/CMakeLists.txt
  models/facial_expression_recognition/README.md
  models/facial_expression_recognition/demo.cpp
Labels: demo

#238 Introduce Preprocessing for Optimized Quantization in `quantize-ort.py`
  tools/quantize/quantize-ort.py
Labels: quantization

#234 Fix OpenCV version assertions in ViTTrack & RAFT and text offset
  models/object_tracking_vittrack/demo.py
  models/optical_flow_estimation_raft/demo.py
Labels: bug, demo

#232 C++ Demo - Object Detection (NanoDet)
  models/object_detection_nanodet/CMakeLists.txt
  models/object_detection_nanodet/README.md
  models/object_detection_nanodet/demo.cpp
Labels: demo

#237 Fix visualization and default model for text detection PP-OCR
  models/text_detection_ppocr/demo.cpp
Labels: bug
